In [1]:
!pip install lightgbm--upgrade
!pip install lightgbm==3.2.0
import pandas as pd

ERROR: Could not find a version that satisfies the requirement lightgbm--upgrade (from versions: none)
ERROR: No matching distribution found for lightgbm--upgrade

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting lightgbm==3.2.0
  Downloading lightgbm-3.2.0-py3-none-win_amd64.whl (1.0 MB)
     ---------------------------------------- 1.0/1.0 MB 111.9 kB/s eta 0:00:00
Requirement already satisfied: wheel in c:\users\new\anaconda3\lib\site-packages (from lightgbm==3.2.0) (0.33.6)
Requirement already satisfied: numpy in c:\users\new\anaconda3\lib\site-packages (from lightgbm==3.2.0) (1.16.5)
Requirement already satisfied: scipy in c:\users\new\anaconda3\lib\site-packages (from lightgbm==3.2.0) (1.3.1)
Requirement already satisfied: scikit-learn!=0.22.0 in c:\users\new\anaconda3\lib\site-packages (from lightgbm==3.2.0) (1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\new\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm==3.2.0) (0.13.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\new\anaconda3\lib\site-packages (from scikit-learn!=0.22.0->lightgbm==3.2.0) (3.1.0)
Installing collected packages: lightgbm
  Attempting uninstall: lightgbm
    Found existing installation: lightgbm 4.3.0
    Uninstalling lightgbm-4.3.0:
      Successfully uninstalled lightgbm-4.3.0
Successfully installed lightgbm-3.2.0

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [12]:
# Define LightGBM parameters
params = {
    'boosting': 'gbdt',
    'objective': 'binary',
    'metric': 'binary_logloss',  # You can use other metrics as well
    'num_leaves': 45,
    'learning_rate': 0.1,
    'max_depth': 5,
    'min_data_in_leaf': 20,
    'max_bin': 255,
    'bagging_fraction': 0.8,
    'feature_fraction': 0.8
}

In [13]:
from lightgbm import LGBMRegressor
regeressor=LGBMRegressor(params)
regeressor.fit(x_train,y_train)

TypeError: Unknown type of parameter:boosting_type, got:dict

In [ ]:
y_pred=regeressor.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)
r_score